<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Core">
   <test name="DriverFactory">
<!-- 
      <groups>
      <run>
      <include name="Grid" />
            </run>
   </groups>
 -->
   <classes>
      <class name="Com.HybridTestAutomationFramework.test.core.platform.TestDriverFactory" />
   </classes>
   
   </test>
</suite>